extends layout

block content
  .posts-container
    - each post in posts
      article.post-block
        h2.post-title= post.post_title
        .post-content
          != post.post_content
        ul.post-images
          - each image in post.post_images
            li
              img(src=image)
        