@import "bootstrap";
@import "jquery-ui";
@import "wickedpicker";

.event-timepicker {
	opacity: 0;
	visibility: hidden;
}
.wickedpicker {
	display: block !important;
}
.btn-add-location {
	cursor: pointer;
}