extends layout

block content
  #app-root

  script#main-tpl(type='text/template')
    .js-content

  script#filter-posts-page-tpl(type='text/template')
    .row
      .col-sm-3
        select#post_status.form-control
          option(value='new', selected='') new
          option(value='draft') draft
          option(value='deleted') deleted
          option(value='published') published
    br
    .js-post-content

  script#post-item-tpl(type='text/template')
    .row
      .col-sm-12
        p
          | Published on: 
          strong {{datePublished}}
          |  at 
          a(href='{{post_source_url}}', target='_blank')
            strong {{sourceUrlRoot}}
          |    [id={{ID}}]
    .row
      .col-sm-8
        form(action='')
          .form-group
            input.form-control(type='text', name='title', value='{{post_title}}', placeholder='Title')
          .form-group
            textarea.form-control(rows='20', name='content', placeholder='Текст') {{post_content}}
          #location-add-target
          .row.form-group
            .col-sm-6
              .input-group
                input#location-label.form-control(type='text', placeholder='Локация')
                input(type='hidden', name='location', placeholder='Локация', value='{{post_location}}')
                .input-group-addon.btn-add-location.js-add-location +
          .form-group.status-buttons
            button.btn.btn-success.js-submit-btn(status='published') Publish
            button.btn.btn-primary.js-submit-btn(status='draft') Draft
            button.btn.btn-primary.js-submit-btn(status='new') New
            button.btn.btn-danger.js-submit-btn(status='deleted') Delete
        .images-block
          //- {{ _.each(images, function(image) { }}
          //-   img(src=image)
          //- {{ } }}

      .col-sm-3
        .sidebar-widget
          p Date of event
            a.float-right.toggle-date-range.js-toggle-date-range(href='#') date range
          #datepicker_1
          #datepicker_2
        .sidebar-widget
          p Time of event
            a.float-right.toggle-time-range.js-toggle-time-range(href='#') time range
          #timepicker_1
          #timepicker_2
        input#timepicker.event-timepicker

  script#location-add-tpl(type='text/template')
    form(action='')
      .row.form-group
        .col-sm-3
          input.form-control(type='text', name='title', placeholder='title')
        .col-sm-3
          input.form-control(type='text', name='description', placeholder='description')
        .col-sm-3
          input.form-control(type='text', name='address', placeholder='address')
        .col-sm-3
          button.btn.btn-block.btn-success(type='Success') Добавить Локацию

  script#timepicker-tpl(type='text/template')
    .timepicker
      p.timepicker__title
        | Timepicker
        ul.timepicker__controls
          li.timepicker__controls__control
            span.timepicker__controls__control-up.js-hours-up
            input.timepicker__controls__control--hours(type='text', name='hours', tabindex='-1', value='{{hours}}')
            span.timepicker__controls__control-down.js-hours-down
          li.timepicker__controls__control--separator
            span.timepicker__controls__control--separator-inner :
          li.timepicker__controls__control
            span.timepicker__controls__control-up.js-mins-up
            input.timepicker__controls__control--minutes(type='text', name='mins', tabindex='-1', value='{{mins}}')
            span.timepicker__controls__control-down.js-mins-down

  script#post-not-found-tpl(type='text/template')
    h3
      | Post Not Found
