doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/vendor/require.js", data-main="/javascripts/main.js")
  body
    nav.navbar.navbar-default
      .container-fluid

    .container
      .sm-12
        block content




